* {
    margin: 0;
    padding: 0;

}

#landing-page-container {
    background-image: url(./img/background-bw20.jpg);
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: 70% 30%;
    background-attachment: fixed;
    height: 100vh;
    margin: 0;
}

nav {
    width: 100vw;
    height: 5%;
    /* background-color: aqua; */
}

#logo-companyName a {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    text-decoration: none;
    color: black;
    width: max-content;
    padding-right: 10px;

    font-family: 'Kosugi Maru', sans-serif;

    /* font-family: fot-udmarugo-large-pr6n, sans-serif;
    font-weight: bolder;
    font-style: normal; */
}

nav img {
    height: 60px;
    margin: 10px;
}

#main-container {
    /* background-color: yellow; */
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10%;
}

#comingsoon-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 50%;
    /* background-color: #3b7b58; */
    margin-top: 10%;
}

#comingsoontext-wrap {
    font-size: 5em;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    font-family: vdl-gigamarujr, sans-serif;
    font-weight: 500;
    font-style: normal;

}

#soon-mobile {
    display: none;
}

#comingsoon-wrap h3 {
    font-size: 2em;
    font-family: 'Kosugi Maru', sans-serif;
    /* font-family: fot-udmarugo-large-pr6n, sans-serif;
    font-weight: 900;
    font-style: normal; */
}


/* locations */
#location-container-laptop {
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
    width: 70%;

    /* font-family: fot-udmarugo-large-pr6n, sans-serif;
    font-weight: 900;
    font-style: normal; */

    font-family: 'Kosugi Maru', sans-serif;
}

.location-wraps p {
    padding: 4px 0;
}

.location-name-wraps {
    display: flex;
    align-items: flex-end;
    justify-content: start;
    font-size: 1.3em;
    padding-bottom: 3px;
}

.location-name-wraps img {
    height: 30px;
    padding-right: 20px;
}

.location-wraps p {
    font-size: 1.2em;
    font-weight: 900;
    font-family: 'Kosugi Maru', sans-serif;
}

#contact-contaier {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background-color: antiquewhite; */
    width: 100%;
    /* font-family: fot-udmarugo-large-pr6n, sans-serif;
    font-weight: 900;
    font-style: normal; */
    font-family: 'Kosugi Maru', sans-serif;
    font-size: 1.3em;
}

#number-wrap {
    display: flex;
    /* background-color: #3b7b58; */
    width: 40%;
    margin-top: 40px;
    justify-content: space-evenly;
    font-size: 1.1em;
    font-weight: 900;
}

#contact-contaier a {
    text-decoration: none;
    color: black;

}

#contact-contaier p {
    font-family: 'Kosugi Maru', sans-serif;

}

footer {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    /* margin-top: auto; */
    height: 15%;
    /* background-color: aqua; */
}

.icon-wrap {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

#icon-wrap-left, #icon-wrap-right {
    display: flex;
    align-items: flex-end;
    justify-content: space-evenly;
    width: 30%;

}

.icon-wrap img {
    height: 6em;

}

.greenline {
    height: 2em;
    background-color: #3b7b58;
    color: white;
    text-align: center;
    line-height: 2em;
    font-family: 'Kosugi Maru', sans-serif;
}

#location-container-mobile, #phone, .contact-note-mobile, #icon-wrap-mobile {
    display: none;
}


@media screen and (max-width: 1350px) {
    #comingsoontext-wrap {
        font-size: 4em;
    }

    #location-container-laptop {
        width: 100%;
    }

    #icon-wrap-left, #icon-wrap-right {
        width: 50%;
    }

}

@media screen and (max-width: 1050px) {
    #comingsoontext-wrap {
        font-size: 3em;
    }

    .location-name-wraps {
        font-size: 1.1em;
    }

    .location-name-wraps img {
        height: 25px;
    }

    .location-wraps p {
        font-size: 1em;
    }

    #contact-contaier {
        font-size: 1.1em;
    }

    #number-wrap {
        width: 60%;
        font-size: 1em;
    }

    .icon-wrap img {
        height: 5em;
    }

    #icon-wrap-left, #icon-wrap-right {
        width: 50%;
    }
}

@media screen and (max-width: 890px) {
    #landing-page-container {
        background-size: auto 100%;
    }

    #comingsoontext-wrap {
        font-size: 2.5em;
    }

    #comingsoon-wrap h3 {
        font-size: 1.5em;
    }

    .location-name-wraps {
        font-size: 1em;
    }

    .location-name-wraps img {
        height: 20px;
    }

    .location-wraps p {
        font-size: .8em;
    }

    .icon-wrap img {
        height: 4em;
    }
}

@media screen and (max-width: 680px) {
    nav {
        display: flex;
        justify-content: center;
        align-items: flex-start;
    }
    nav img {
        height: 40px;
        margin: 10px;
    }
    #logo-companyName a {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: .7em;
    }
    #comingsoontext-wrap h1 {
        margin-top: -.9em;
        /* background-color: aqua; */
    }

    #landing-page-container {
        height: 90vh;
    }

    #main-container {
        /* background-color: aqua; */
        height: 90%;
    }

    #comingsoontext-wrap {
        font-size: 3em;
        flex-direction: column;
    }

    #soon-mobile {
        display: block;
    }

    #soon-laptop, #contact-note-laptop {
        display: none;
    }

    #location-container-laptop, #number-wrap, #icon-wrap-laptop {
        display: none;
    }

    #location-container-mobile, #phone, .contact-note-mobile {
        display: block;

    }

    #location-container-mobile {
        /* background-color: aquamarine; */
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #location-container-mobile img {
        width: 40px;
    }

    #location-container-mobile h3 {
        padding-bottom: 40px;
        font-size: 1.3em;
    }

    #location-wrap-mobile {
        display: flex;
        flex-direction: column;
        gap: 30px;
        /* background-color: antiquewhite; */
        padding-top: 30px;
        font-size: 1.3em;
    }

    #location-container-mobile>img {
        padding: 10% 0;
        /* background-color: #3b7b58; */
    }

    .location-wraps {
        padding: 20px 0;
    }

    .location-name-wraps {
        /* background-color: aqua; */
        margin-right: auto;
    }

    .location-name-wraps img {
        height: 30px;
        padding: 0;
        /* background-color: #ffffff; */
    }

    .location-name-wraps h4 {
        font-size: 1em;
        line-height: 30px;
        font-family: 'Kosugi Maru', sans-serif;
    }

    /* contact btn */
    #contact-contaier>h3 {
        font-size: 1em;
    }

    #contact-contaier>a {
        background-color: #3b7b58;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 180px;
        border: 0;
        text-decoration: none;
        border-radius: 100px;
        color: #ffffff;
        min-height: 50px;
        margin: 40px;
        cursor: pointer;
        touch-action: manipulation;
    }


    #phone img {
        height: 30px;
        padding-right: 10px;
    }

    #phone:disabled {
        pointer-events: none;
    }

    #phone:hover {
        box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
        transform: translateY(-2px);
    }

    #phone:active {
        box-shadow: none;
        transform: translateY(0);
    }

    
    #icon-wrap-mobile {
        display: block;
        display: flex;
        justify-content: space-evenly;
    }
}

@media screen and (max-width: 480px) {
    /* nav {
        display: flex;
        justify-content: center;
    }

    #logo-companyName a {
        font-size: .9em;
    } */

    nav img {
        height: 40px;
    }

    #contact-contaier {
        /* background-color: aliceblue; */
        margin-top: 15%;
    }

    #comingsoontext-wrap {
        font-size: 2em;
        margin: 60% 0 40px 0;
    }

    #comingsoon-wrap h3 {
        font-size: 1.3em;
    }
    #icon-wrap-mobile img {
    height: 3em;
    }
}
